@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Arya&display=swap');
:root {
  font-size: 10px;
  --primary: #80A95B;
  --secondary: #443730;
  --trinary: 
}
.App {
  margin: 20px;
}
a {
  font-family: 'Charmonman', cursive !important;
  font-size: 2em;
  font-weight: 700;
}