.enlarge {
  transition: width 200ms, height 200ms, transform 200ms;
}
.enlarge:hover {
  width: 125%;
  height: 125%;
  transform: translate(-12.5%, -12.5%);
}
.service-row {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}
.service-item-text {
  position: relative;
  text-align: center;
  color: black;
  opacity: 1;
  font-size: 2em;
  padding: 10px;
  transition: height 200ms;
}
.service-item-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
}
.service-item-text-container {
  width: 100%;
  height: 50px;
  background-color: gray;
  opacity: 0.75;
  position: relative;
  bottom: 125px;
  transition: transform 200ms;
}
.service-item-text-container:hover {
}
.service-item-img-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 25px;
}
.w-80 {
  width: 80%;
}
